# Entorno Virtual del Laboratorio
lab-venv/

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración de Visual Studio Code
.vscode/

# Variables de entorno (Seguridad: nunca subas contraseñas)
.env

# Archivos del sistema Ubuntu/Linux
.DS_Store
.directory
